.bundle
.autotest
.todo.done
NERD_tree_1
db/sphinx/*
db/*.sqlite3
log/searchd.development.pid
config/development.sphinx.conf
log/*.log
tmp/*
.sass-cache/
.DS_Store
.idea/workspace.xml
ourvoYce_web2.xcodeproj/project.pbxproj
ourvoYce_web2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ourvoYce_web2.xcodeproj/project.xcworkspace/xcuserdata/jdagger.xcuserdatad/UserInterfaceState.xcuserstate
public/assets/*

ourvoYce_web_2.xcodeproj/project.pbxproj

ourvoYce_web_2.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ourvoYce_web_2.xcodeproj/project.xcworkspace/xcuserdata/jdagger.xcuserdatad/UserInterfaceState.xcuserstate
