.page-header
  h1 Utilities

P= link_to 'Download Seed File', admin_create_seed_file_path
p= link_to 'Generate 100 Random Votes', admin_generate_random_votes_path(100)
p= link_to 'Generate 1000 Random Votes', admin_generate_random_votes_path(1000)
