<div class="chart-item">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="chartblock">
    <tr>
      <td rowspan="2" valign="top" class="voting">
        <div class="tagsimg">
          <a href="#" class="vote thumbs_up">
            <img src="/assets/site/thumbup.gif" alt="Like" title="Like" width="30" height="30" />
          </a>
          &nbsp;
          <a href="#" class="vote neutral">
            <img src="/assets/site/thumbneutral.gif" alt="Neutral" title="Neutral" width="24" height="30" />
          </a>
          &nbsp;
          <a href="#" class="vote thumbs_down">
            <img src="/assets/site/thumbdown.gif" alt="Dislike" title="Dislike" width="30" height="30" />
          </a>
        </div>
        <img src="/assets/site/star.gif" width="18" height="19" alt="Star" title="Favorite this listing" />
        &nbsp;&nbsp;
        <img src="/assets/site/pushpin.gif" width="12" height="19" alt="Pushpin" title="Remember this listing" />
      </td>
      <td align="left" valign="top" class="storelogo">
        <a href="vote-detail.html" class="imagelink">
          <img src="https://s3.amazonaws.com/ourvoYce/images/<%= logo %>" alt="<%= name %>" />
        </a>
      </td>
      <td align="left" class="description">
        <%= name %>
      </td>
      <td class="spacing"></td>
      <td rowspan="2" align="center" class="minichart bluebg">
        <table>
          <tr>
            <td class="bottom">
              <table width="18" border="0" cellspacing="0" cellpadding="0" class="minichart-table">
                <tr>
                  <td class="green-top"></td>
                </tr>
                <tr>
                  <td bgcolor="#57b70e" height="10"></td>
                </tr>
              </table>
            </td>
            <td class="bottom">
              <table width="18" border="0" cellspacing="0" cellpadding="0" class="minichart-table2">
                <tr>
                  <td class="orange-top"></td>
                </tr>
                <tr>
                  <td bgcolor="#f08127" height="30"></td>
                </tr>
              </table>
            </td>
            <td class="bottom">
              <table width="18" border="0" cellspacing="0" cellpadding="0" class="minichart-table3">
                <tr>
                  <td class="red-top"></td>
                </tr>
                <tr>
                  <td bgcolor="#cb2c1e" height="15"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <img src="/assets/site/arrow-left.png" width="7" height="13" style="position:absolute;top:9px;right:11px;" />
      </td>
    </tr>
    <tr>
      <td colspan="2" align="left" valign="middle" class="tags">
        Related Tags: 
        <a href="vote-default.html">Corporate</a>
        ,&nbsp;
        <a href="vote-default.html">Fortune 500</a>
        ,&nbsp;
        <a href="vote-default.html">Lorem</a>
        ,&nbsp;
        <a href="vote-default.html">Appetizer</a>
        ,&nbsp;
        <a href="vote-default.html">Retailers</a>
      </td>
      <td class="spacing"></td>
    </tr>
  </table>
</div>
