<div class="item-container">
  <div class="voting">
    <div class="vote-container">
      <a href="#" class="vote thumbs_up">
        <div class="thumbs-up-vote" title="Thumbs Up" />
      </a>
      <a href="#" class="vote neutral">
        <div class="neutral-vote" title="Neutral" />
      </a>
      <a href="#" class="vote thumbs_down">
        <div class="thumbs-down-vote" title="Thumbs Down" />
      </a>
    </div>
    <div class="pins">
      <div class="favorite">
        <% if(favorite) { %>
          <a href="#" class="selected" title="One of your favorites!"></a>
        <% }else{ %>
          <a href="#" class="not-selected" title="Click to make this a favorite."></a>
        <% } %>
      </div>
      <div class="vote-message"></div>
    </div>
  </div>
  <div class="middle">
    <div class="details">
      <div class="storelogo">
        <img src="<%= logo %>" alt="<%= name %>" />
      </div>
      <div class="name">
        <%= name %>
        <div class="description">
          <%= description %>
        </div>
      </div>
    </div>
    <div class="tags">
      <span class="tags-label">Related:</span>
      <span class="related-tags-container"></span>
    </div>
  </div>
  <div class="toggle-details minichart">
    <div class="mini-vote-chart" style="height: 45px"> <!-- Leave style height or JS height check will break -->
      <div class="thumbs-up">
        <div></div>
      </div>
      <div class="neutral">
        <div></div>
      </div>
      <div class="thumbs-down">
        <div></div>
      </div>
    </div>
    <div class="details-arrow hidden">
    </div>
  </div>
  <div class="clear"></div>
</div>
