<div id="filter_box">
  <div id="tag">
    <h1>
        <span class="bluebold">Viewing: </span>
        <span id="current_tag"></span>
    </h1>
  </div>
  <div>
    <select id="filter" name="filter">
      <option value="all" ${filter === 'all' ? 'selected' : ''}>All Records</option>
      <option value="voted" ${filter === 'voted' ? 'selected' : ''}>Voted</option>
      <option value="no-vote" ${filter === 'no-vote' ? 'selected' : ''}>No Vote</option>
    </select>
  </div>
  <div>
    <select id="sort" name="sort">
      <option value="default_order" ${sort_name == 'default_order' ? 'selected' : ''}>Default</option>
      <option value="popularity" ${sort_name == 'popularity' ? 'selected' : ''}>Popularity</option>
      <option value="name" ${sort_name == 'name' ? 'selected' : ''}>Name</option>
    </select>
    <select id="sort_direction" name="sort_direction">
      <option value="desc" ${sort_direction == 'desc' ? 'selected' : ''}>Descending</option>
      <option value="asc" ${sort_direction == 'asc' ? 'selected' : ''}>Ascending</option>
    </select>
  </div>
  <div id="search">
    <form action="/search/lookup" method="post" id="tag_search">
      <input type="text" id="search_field" name="search" 
        class="searchbox" maxlength="32" 
        value="What's on your mind? Search" 
        onblur="if(this.value=='') this.value='What\'s on your mind? Search'" 
        onfocus="if(this.value =='What\'s on your mind? Search' ) this.value=''" />
      <input type="image" name="submit" 
        src="/assets/site/searchbtn.gif" border="0" 
        width="17" height="18" class='search_button' />
    </form>
  </div>
</div>
