/div class="pullout2"
/        div class="pullout-item"
/   	    	div class="itemblock"
/			h3Number of ourvoYce users: 
  / strong class="bluebold"96
/ /strong
/ /h3
/        	/div
/        /div
/        div class="pullout-item"
/        	div class="itemblock"
/h3 class="redbold"
  / a href="#"
    / img src="/assets/site/star.png" width="18" height="19" alt="star" Show Favorites (18)
/ /a
/ /h3
/h3You have voted on 
  / strong class="bluebold"215 items
/ /strong
/ /h3
/h3Member since 
  / strong class="bluebold"8/4/2011
  / /strong
  / /h3
  / /div
/        /div
/        div class="pullout-item"
/        	div class="itemblock"
/        		h3Hot Topics
  / /h3
/ div class="pullout-col"
/                ul
/            li
/ a href="#"Raising the debt ceiling
/ /a
/ /li
/            li
/ a href="#"Fox News
/ /a
/ /li
/            li
/ a href="#"Obama
/ /a
/ /li
/            /ul
/ /div
/            	div class="pullout-col2"
/                ul
/            li
/ a href="#"Starbucks
/ /a
/ /li
/            li
/ a href="#"Fox News
/ /a
/ /li
/            li
/ a href="#"Obama
/ /a
/ /li
/            /ul
/            	/div
/                div class="clear"
/ /div
/                br /
/                p
/ a href="#"
  / strongView All
/ /strong
/ /a
/ == '&nbsp;'
/img src="/assets/site/arrow-right.png" width="7" height="13" style="padding-bottom:3px;" class="bottom" /
/ /p
/            /div
/        /div
/        div class="pullout-item"
/        	div class="itemblock"
/        		h3Popular Tags
  / /h3
/ div class="pullout-col"
/                ul
/            li
/ a href="#"Starbucks
/ /a
/ /li
/            
/ li
/ a href="#"Fox News
/ /a
/ /li
/            
/ li
/ a href="#"Obama
/ /a
/ /li
/            
/ li
/ a href="#"French Fries
/ /a
/ /li
/            
/ li
/ a href="#"NFL
/ /a
/ /li
/            /ul
//div
/            	div class="pullout-col2"
/                ul
/            li
/a href="#"Starbucks
//a
//li
/            
/li
/a href="#"Fox News
//a
//li
/            /ul
/            	/div
/                div class="clear"
//div
/                br /
/                p
/a href="#"
  /strongView All
//strong
//a
/ == '&nbsp;'
/img src="/assets/site/arrow-right.png" width="7" height="13" style="padding-bottom:3px;" class="bottom" /
//p
/            /div
/        /div
/        div class="pullout-item"
/              div class="itemblock"
/             h3Suggest a Topic:
//h3
/             input type="text" class="inputbox" name="topic" maxlength="35" /
/br /
/             INPUT type=image name="submit" src="/assets/site/btnsubmit.gif" border="0" width="52" height="22" class="submitbtn2" /
/             div class="clear"
//div
/             /div
/        /div
/        div class="pullout-item last"
/        	div class="itemblock"
/            	div id="footer"
/            ul id="footerlist"
/li
/a href="privacy.html" class="no-padleft"Privacy Policy
//a
//li
/li
/a href="terms.html" class="no-back"Terms of Service
//a
//li
/li&copy; ourvoYce
//li
//ul
/            	/div
/            /div
/        /div
/        /div<!-- /pullout -->
/
