@import 'bourbon';
@import 'boilerplate';
@import 'admin/flutie';
@import 'admin/jquery_ui';

$blue1: #172741;
$blue2: #243e67;
$blue3: #32548c;
header{
  background: #ddd;
  overflow: hidden;
  padding: 15px 20px;
  border-bottom: solid 1px #aaa;
  @include box-shadow(0px 0px 3px #aaa);

  #nav-menu{
    float: left;

    ul{
      display: inline;
      padding: 0px;
      li{
        list-style: none;
        display: inline;
        margin-right: 10px;
        a{
          background: $blue1;
          @include border-radius(5px);
          color: white;
          padding: 5px 10px;
          text-decoration: none;
          display: inline-block;
          letter-spacing: 0.15em;
          &:hover{
            background: $blue2;
          }
        }
      }
    }
  }

  #lookup{
    float: right;
    .search-box-container{
      float: right;
      margin-left: 10px;
      .searchbox{
          @include box-shadow(0px 0px 3px $blue3);
      }
    }
  }
}


input[type='text']{
  @include border-radius(3px);
  border: solid 1px $blue1;
}

input:focus{
  outline-width: 0;
}

//Main body content
#content{
  margin: 0px 20px;
}



