$column-width: 86px;
$item-width: $column-width * 8 - 1px; //8 columns wide, 1px for outside shadow on right
$details-width: $column-width * 4 - 3px;
$pullout-side-margin: 16px;
$details-item-width: $details-width - $pullout-side-margin * 2;

$searchbox_width: 302px;
$filter-height: 40px;

$dark-blue: #2E3A75;
$light-blue: #739FCE;
$red: #AF191D;
$red-link-color: #d81a1e;

$green-chart: #57b70e;
$orange-chart: #f08127;
$red-chart: #cb2c1e;


//$details-pane-width: 368px;

@mixin large{ font-size:18px; }
@mixin fineprint { font-size:12px; font-style:italic; }
@mixin details-pane{
  margin:0px 0px 5px 0;
  @include border-radius(0 8px 8px 0);
  @include box-shadow(0px 0px 7px #999);
  min-height:300px;
  overflow: hidden;
  padding: 0px;
  white-space: wrap;
}

@mixin item-container-template{
  border-bottom: 1px dashed #85bada;
  clear: both;
  display: block;
  //min-height: 60px;
  outline: medium none;
  position: relative;
}

body {
  font: 12px "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  color:#666;
  background: image-url('site/bg.jpg') 0 0 repeat-x;
}

.right-align { text-align: right; }
.left-align { text-align: left; }
.center-align { text-align: center; }

#body-background {
  width:805px;
  height:337px;
  position:absolute;
  top:75px;
  left:0;
  background: image-url('site/bg-crowd.jpg') 0 0 no-repeat;
  z-index:-1;
}

img {border:none;}

a.imagelink:hover 
{
  background-color:transparent;
  background-color:none;
}

p { padding: 0 0 1em; }

.shadow {text-shadow:0.05em 0.05em 0.05em #7198b8;}

h1 {
  font:25px/31px "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:0;
  margin:0 0 13px 0;
  font-weight:normal;
  color:#2158b0;
}


h2 {
  font:19px/25px "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:0;
  margin:0 0 13px 0;
  font-weight:bold;
  color:#2158b0;
  &.thin{
    font-size:24px !important;
    font-weight:normal;
  }
}
h3 {
  font:18px/20px "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:0;
  margin:0 0 10px 0;
  font-weight:normal;
  color:#2158b0;
}
h4 {
  font:17px/20px "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  padding:0;
  margin:0 0 10px 0;
  font-weight:normal;
}

ol.number {
  color:#666666;
  list-style-type: decimal;
  list-style-position: inside;
  margin-top: 0;
}
ol.letter {
  list-style-type: upper-alpha;
  padding: 0 0 0 30px;
}
ol.letter li, ol.number li {
  padding: 10px 0 0;
}
b, strong {
  font-weight: bold;
}


form{
  input[type=text], input[type=password], select {
    border: solid 1px $light-blue;
    @include border-radius(2px);
    padding: 5px 10px;
    width: 180px;
  }

  input[type=checkbox]{
    display: inline;
  }

  input[type=submit]{
    background: $red;
    border: none;
    @include border-radius(2px 2px 2px 2px);
    color: white;
    cursor: pointer;
    &:hover{
      background: $red + #111;
    }
  }

  .large-button{
    font-size: 1.2em;
    padding: 6px 10px;
  }

  .help-inline{color: red;}

  div.submit{
    margin: 10px 0px;
  }

  label{
    font-weight: bold;
    display: block;
  }

  span.error{
    color: white;
    background: red;
    padding: 2px 3px;
    border: solid 0px red;
  }

  div.input{
    overflow: hidden;
    margin-bottom: 20px;
    span.hint{
      display: block;
      font-size: 0.8em;
    }
  }
}

a { 
  color: $red-link-color;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}
.tags {
  a:hover {
    color:#fff;
    background-color:$red-link-color;
  }
}

input{outline: none;} //Disable input highlighting


.no-padleft { padding-left:0px !important;}
.no-padright {padding-right:0px !important;}
.no-back { background:none !important;}
.no-border {border:none !important;}

#videolist, #aboutlist {
  list-style: none;
  li {margin:0 0 5px 0;}

  ul li a {
    padding-left: 15px;
    background: image-url('site/arrow-right.png') 0px 4px no-repeat;
  }
  li a:hover {
    background: transparent image-url('site/arrow-rightblue.png') 0px 4px no-repeat;
    text-decoration:underline;
    color: $red-link-color;
  }
  ul ul {
    padding-left: 25px;
    margin-bottom:7px;
    background-repeat: no-repeat;
    background-position: 0 .5em;
  }
}

/* --- Header ------------------------------------------------------------ */
#header {
  $top-header-height: 35px;
  #header-topbar-wrapper {
    color:#fff;
    height: $top-header-height;
    line-height: $top-header-height;
    vertical-align: middle;
    a {
      color:#5ba2cd;
      &:hover {
        color:#fff;
        background-color:transparent;
      }
    }

    #header-topbar-left {
      #header-login-form{
        padding-top: 0px;
        form{
          label, div{display: inline;}
          label { padding-right: 3px;}
          .control-group{padding-right: 10px;}
          input{@include border-radius(10px 10px 10px 10px);}
          input[type=text], input[type=password] {
            padding: 3px 10px;
            width: 125px;
            color: #c03030;
          }

          input[type=submit] {
            background: image-url("site/btnlogin.png") top left no-repeat;
            height: 20px;
            width: 65px;
          }
          input[type=checkbox] {
            margin-left: 2px;
            color: #c03030;
            margin-top: 5px;
          }
        }
      }
    }
    #header-topbar-center { }
    #header-topbar-right{
      .socialtop {
        margin-right: 20px; 
        display: inline;
        position: relative;
        a{
          img{padding-bottom: 8px;}
        }
      }

      ul {display: inline;}
      li {
        display:inline;
        line-height:15px;
        a {
          color:#5ba2cd;
          border-right:1px solid #fff;
          padding: 0 5px;
          background:transparent;

          &:hover{
            background-color:transparent;
            color:#fff;
          }
        }
      }
    }
  }
  #header-logo-wrapper {
    padding: 4px 0px;
    color:#fff;
    height: 70px;

    #header-logo-left {
      #logo { }
    }

    #header-logo-right {
      text-align: right;

      ul{
        padding-left: 0;
        margin-left: 0;
        //width: 100%;
      }

      img.dot{
        padding: 3px 5px;
        height: 9px;
        width: 3px;
        vertical-align: top;
      }
    }

    a {
      color: $red;

      &:hover {
        background-color:transparent;
        text-decoration:underline;
      }
    }
  }
}



/* --- Flash Messages --------------------------------------------------- */
#flash-alert,
#flash-notice{
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.667em;
  border: solid 1px #D9131B;
  @include border-radius(10px);
  background: #D9131B;
  color: white;

}
/* --- End Messages ----------------------------------------------------- */




/* --- Content ------------------------------------------------------------ */

#front-page, #signup-page, #update-user-page, #forgot-password, #sign-in-page, #resend-confirmation-page{
  font-size: 1.2em;
  #signup-details{
    padding: 0px 67px 0px 0px;
  }
  p.blue, ol.blue li{
    color: #2158b0;
  }

  ol.number{
    li{padding: 0px; }
  }

  .control-group{padding-bottom: 6px;}
  input[type=text], input[type=password]{
    @include border-radius(20px);
    padding: 5px 10px;
    color: #2158b0;
  }
  .help-block{font-size: 0.8em; font-style: italic;}

  #hot-topics{
    .hot-topic{
      a{
        &:hover { color:#fff; background-color: $red-link-color; }
      }
    }
  }
}


#content-container {
  overflow: hidden;
  position: relative;
  text-align: left;
  //width: $content_width;
  //@include clearfix;

  #filter_container{
    height: $filter-height;
    z-index: 100;
    padding-bottom: 4px;

    #filter_box{

      #filter_fields{
        text-align: right;
        height: $filter-height;
        line-height: $filter-height;

        select{
          font-size: 14px;
          padding: 0px;
          margin: 0px;
        }
      }
    }

    #search {
      position: relative;
      z-index: 100;
      text-align: right;

      .searchbox {
        font-size: 12px;
        height: 18px;
        @include border-radius(10px 10px 10px 10px);
        width:$searchbox_width;
        text-align:left;
        color:#888;
      }

      .search_button{
        position: absolute;
        bottom: 7px;
        right: 10px;
      }
    }
  }

  #items_container {
    position: relative;
    //@include clearfix;

    #items-filler{position: relative; background: white; z-index: 49;}
    #items {
      background: none repeat scroll 0 0 #fff;
      @include border-radius(8px 0 0 8px);
      @include box-shadow(0px 0px 7px #999);
      position: relative;
      z-index:50;
      color:#2158b0;
      width: $item-width;

      .items{
        position: relative;
      }

      $item-height: 100px;
      $voting-width: 105px;
      $minichart-width: 95px;
      $item-margin: 10px;
      $middle-width: $item-width - $voting-width - $minichart-width - 4 * $item-margin;
      $item-content-height: $item-height - 2 * $item-margin;
      .item{
        position: relative;
        @include item-container-template;
        height: $item-height;
        margin: 0px;
        padding: 0px;

        .item-container {
          overflow: hidden;
          position: relative;

          .voting{
            position: relative;
            width: $voting-width;
            height: $item-content-height;
            margin: $item-margin;
            float: left;
            vertical-align:top;

            .vote-container{
              overflow: hidden;

              /*Votes */
              a{
                float: left;
                .thumbs-up-vote { width: 30px; height: 30px; background: url(site/vote-sprite.png) 0 0; }
                .thumbs-up-vote-gray { width: 30px; height: 30px; background: url(site/vote-sprite.png) 0 -30px; }
                .neutral-vote { width: 30px; height: 30px; background: url(site/vote-sprite.png) 0 -60px; }
                .neutral-vote-gray { width: 30px; height: 30px; background: url(site/vote-sprite.png) 0 -90px; }
                .thumbs-down-vote { width: 30px; height: 30px; background: url(site/vote-sprite.png) 0 -120px; }
                .thumbs-down-vote-gray { width: 30px; height: 30px; background: url(site/vote-sprite.png) 0 -150px; }
              }
              .vote{}
            }
            .pins{
              position: relative;
              height: 50px;
              overflow: hidden;

              .favorite{
                position: absolute;
                top: 10px;
                left: 0px;
                a
                {
                  display: block;
                  width: 19px;
                  height: 19px;
                  background: image-url('site/star_gray.gif') no-repeat;
                }

                a.selected
                {
                  background: image-url('site/star.gif') no-repeat;
                }
              }
              .vote-message{
                position: absolute;
                top: 10px;
                right: 0px;
              }
            }
          }
          .middle{
            position: relative;
            width: $middle-width;
            height: $item-content-height;
            margin-top: $item-margin;
            float: left;
            overflow: hidden;

            $related-tags-height: 17px;
            $item-details-height: $item-height - $related-tags-height - 2 * $item-margin;

            .details{
              position: relative;
              height: $item-details-height;
              overflow: hidden;
              $logo-width: 220px;
              .storelogo{
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                width:$logo-width;

                margin: 0px;
                padding: 0px;
                vertical-align:top;
                img{
                  padding: 0px;
                  margin: 0px;
                }
              }
              .name{
                position: absolute;
                top: 0px;
                left: $logo-width + $item-margin;
                bottom: 0px;
                right: 0px;

                margin: 0px;
                padding: 0px;

                .description{
                  color:#000;
                  padding-top:5px;
                  padding-left:15px;
                }
              }
            }
            .tags{
              @include clearfix;
              position: absolute;
              height: $related-tags-height;
              bottom: 0px;
              left: 0px;
              right: 0px;
              white-space: nowrap;
              overflow: hidden;
              padding: 0px;
              margin: 0px;

              .tags-label{ 
                float: left;
              }
              .related-tags-container{
                float: left;
                height: $related-tags-height;
                ul#related-tags{
                  display: inline;
                  li{
                    display: inline;
                    a{ }
                  }
                }
              }

            }
          }
          .minichart {
            position: relative;
            float: left;
            height: $item-content-height;
            width: $minichart-width;
            margin-top: $item-margin;
            margin-left: $item-margin;

            @include border-radius(5px);

            cursor: pointer;

            padding: 0;
            overflow: hidden; 

            &:hover {
              background-color:#b4d5e9;
              @include box-shadow(inset 0px 0px 10px #28a0e9);
            }


            .mini-vote-chart{
              position: absolute; 
              height: 45px; 
              width: 66px; 
              left: $item-margin;
              bottom: $item-margin;

              .thumbs-up, .thumbs-down, .neutral{
                width: 18px; 
                padding-top: 3px; 
                position: absolute; 
                bottom: 0px; 
                div{
                  height: 0px; 
                }
              }

              .thumbs-up{
                background: url(/assets/site/graph-green-top.png) no-repeat;
                div{ background-color: $green-chart; }
              }
              .neutral{
                left: 33%; 
                background: url(/assets/site/graph-orange-top.png) no-repeat;
                div{ background-color: $orange-chart; }
              }

              .thumbs-down{ 
                left: 66%; 
                background: url(/assets/site/graph-red-top.png) no-repeat;
                div{ background-color: $red-chart; }
              }
            }

            .details-arrow{
              position: absolute; 
              top: $item-margin;
              right: $item-margin;
              height: 13px; 
              width: 7px;
              &.expanded{
                background: image-url('site/arrow-left.png') top left no-repeat;
              }
              &.hidden{
                background: image-url('site/arrow-right.png') top left no-repeat;
              }
            }
          }
        }
      }
    }

    #details.fixed{
      position: fixed;

    }

    #details {
      width: $details-width;
      .details-container{ padding: 0px $pullout-side-margin; }
      
      #sidebar {
        position: relative;
        #general-details {
          @include details-pane;
          background: #e1eef6 image-url('site/bg-pullout.jpg') repeat-x;
          z-index: 47;

          .show-favorites{
            vertical-align: middle;
            line-height: 30px;
            h3{
              padding: 0px; 
              margin: 0px; 
              img{vertical-align: middle; padding-right: 4px; padding-bottom: 5px;}
            }
          }

        }
        #item-details-pane {
          position: absolute;
          @include details-pane;
          width: $details-width + 2px;
          top: 0px;
          background:#fff  image-url('site/bg-pullout2.jpg') repeat-x;
          visibility: hidden;
          overflow: auto;
          z-index: 48;
          padding-bottom: 15px;


          table{
            width: 100%;
            tr{
              td{
                width: 50%;
                text-align: left;
                padding: 0px;
                margin: 0px;
                img{width: 20px; height: 20px;}
              }
            }
          }

          .whitebox {
            background-color:#fff;
            @include border-radius(7px);
            padding:8px;
            margin: 0px auto;
            margin-bottom:15px;


            .social{
              div{
                display: inline-block;
                text-align: middle;
              }
            }
          }

          &.details-pane-absolute{
          }

          &.details-pane-fixed{
            position: fixed;
            top: 0px;
          }

          #item-detail-name{
            padding-top:5px;
            padding-bottom:5px;
          }

          .vote-chart{
            height: 120px; 
            position: relative; 
            width: 160px; 
            margin: 0px auto;

            .thumbs-up, .neutral, .thumbs-down{
              width: 47px; 
              position: absolute; 
              bottom: 0px;
              text-align: center;

              .top {height:7px;}
              .bottom { padding-top: 0px; }

              .votenumber {
                font-size: 16px;
                font-weight: bold;
                padding-bottom: 6px;
              }
            }

            .thumbs-up{
              color: $green-chart;
              .top {background: image-url('site/graphlg-green-top.png') no-repeat;}
              .height { background: $green-chart; }
            }
            .neutral{
              color: $orange-chart;
              left: 33%; 
              .top {background: image-url('site/graphlg-orange-top.png') no-repeat;}
              .height { background: $orange-chart; }
            }
            .thumbs-down{
              color: $red-chart;
              left: 66%; 
              .top {background: image-url('site/graphlg-red-top.png') no-repeat;}
              .height { background: $red-chart; }
            }
          }
        }
      }
    }
  }
}


//Auto-complete styling
ul.ui-autocomplete{
  z-index: 99;
  width: $searchbox_width;
  background:#e1eef6  image-url('site/bg-pullout.jpg') repeat-x;
  border: solid 2px $light-blue;
  border-top: none;
  @include border-radius(0px 0px 15px 15px / 0px 0px 10px 10px);
  @include box-shadow(0px 0px 5px 2px #777);
  z-index: 99 !important;
  li{
    padding: 5px 0px;
    padding-left: 15px;
    border-top: solid 1px #aaa;

    a{
      color: $dark-blue;
      //font-size: 1.2em;

      strong{
        color: $red;
      }
    }
  }
}


.padding-right{padding-right: 20px;}
.padding-leftright{padding-left: 20px; padding-right: 20px;}
.padding-left {padding-left: 20px;}

.followus {margin-top:15px;}
.red-divider{padding-bottom: 30px; margin-bottom: 20px; height: 1px; border-bottom:1px dashed #b1181c;}

#how-does-this-work {
  h3 {
    background: image-url('site/arrow-right.png') 0px 4px no-repeat;
    color: $red-link-color;
    cursor: pointer;
    margin: 0 0 10px 0;
    padding-left: 15px;
    &:hover {
      background: image-url('site/arrow-rightblue.png') 0px 4px no-repeat;
      cursor: hand;
      text-decoration:underline;
      background-color:transparent;
    }
  }
  p {
    color:#666;
    line-height:20px;
    margin-left: 40px;
  }
}


.bluebg {background-color:#b4d5e9;}
.pulloutarrow {position:absolute;top:9px;right:11px;}
.bottom {vertical-align:bottom;}
.spacing {width:20px;}

/* MINI chart/bargraph */
.green-top, .orange-top, .red-top {width:18px;height:3px;}
.green-bot, .orange-bot, .red-bot {width:18px;height:3px;}
.green-top {background: image-url('site/graph-green-top.png') no-repeat;}
.green-bot {background: image-url('site/graph-green-bot.png') no-repeat;}
.orange-top {background: image-url('site/graph-orange-top.png') no-repeat;}
.orange-bot {background: image-url('site/graph-orange-bot.png') no-repeat;}
.red-top {background: image-url('site/graph-red-top.png') no-repeat;}
.red-bot {background: image-url('site/graph-red-bot.png') no-repeat;}



#record_counter{
  position: fixed;
  bottom: 15px;
  right: 40px;
  color: #777;
  display: none;
}


.items-load-message{
  text-align: center;
  padding: 1.3em 0em;
  line-height: 1em;
  color: white;
  font-size: 1.3em;

  div{
    width: 70%;
    background: $light-blue;
    margin: 0px auto;
  }

  .load-more-records{
    a{
      padding: 1.3em 0em;
      color: white;
      display: block;
      &:hover{
        background: $light-blue + #111;
      }
    }
  }

  .all-records-loaded-message{
    padding: 1.3em 0em;
  }

  .loading-message{
    margin: 0px;
    width: 80%;
    padding-left: 1em;
    text-align: left;
    background: white;
    color: #777;
  }

}

.no-items-found{
  font-size: 1.3em;
  padding: 1.3em 0.5em;
}


/* ----------------- pullout */
.pullout-item{
  @include item-container-template;
  padding: 15px 0px;
  @include clearfix;
}

.last {
  border-bottom:none;
}
.itemblock {
  padding:15px 16px 15px 24px;
  @include clearfix;
}
.pullout-col, .pullout-col2 {width:155px;float:left;}
.pullout-col {margin-right:5px;}

#popular-tags, #hot-topic-tags, #common-tags{
  .tag{
    display: block;
    width: 140px;
    margin-right: 10px;
    float: left;
  }
}




#footer {
  width: $item-width; 
  color:#666666;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  //border-top: dashed 1px #aaa;

  ul {
    text-align: center;
    margin: 0px auto;
    li { display: inline; 
      a {
        color:#cf1b1f;
        padding: 0 8px 0 6px;
        background: image-url('site/dotred.gif') center right no-repeat;
        &:hover {
          background-color:transparent;
          text-decoration:underline;
        }
      }
    }
  }
}


/* --- Classes ------------------------------------------------------------ */

.clear {
  clear:both;
  visibility:hidden;
}


.left {float:left;}
.right {float:right;}
.imageleftsm {float:left;padding:0 20px 5px 0;}
.imagerightsm {float:right;padding:0 0 5px 20px;}
.imageleft {float:left;padding:0 20px 20px 0;}
.imageright {float:right;padding:0 0 20px 20px;}
.top {vertical-align:top;}
.pad-bottom {padding-bottom:12px;}
.fineprint { @include fineprint; }
.graybold {color:#666;font-weight:bold;}
.gray {color:#666;}
.white {color:#fff;}
.whitebold {color:#fff;font-weight:bold;}
.blue {color:#2158b0;}
.bluebold {color:#2158b0;font-weight:bold;}
.red {color: $red-link-color; }
.redbold {color: $red-link-color;font-weight:bold; }
.green {color: $green-chart; }
.greenbold {color: $green-chart; ;font-weight:bold;}
.orange {color: $orange-chart;}
.orangebold {color:$orange-chart;font-weight:bold;}
.large { @include large; }
.huge {font-size:31px;}

a.vote:hover{
  background-color:transparent;
  background-color:none;
}


#bar-graph-wrap{
}


#maps-container{
  width: $details-item-width;
  background: image-url('site/map-rounded-back.gif') no-repeat top right;
}


#map{
  margin-top:10px;
  margin-bottom:0px;
}

.copy-url-links{
  input{
    margin: 0px;
    padding: 4px 3px;
    color: #555;
    border: solid 1px #aaa;
  }
  input[type=text]{
    @include border-radius(2px 2px 2px 2px);
    //padding-left: 4px;
    width: 295px;
  }
}

#suggest-topic {
  input{
    border: solid 1px #aaa;
    padding: 4px;
    margin: 0px;
  }

  input[type=text]{
    color: #555;
    width: 230px;
  }

  input[type=submit]{
    margin-left: 5px;
    width: 60px;
  }
}


// /tags
#tag-list
{
  .tags{
    @include clearfix;
    li{
      float: left;
      width: 250px;
    }
  }
}
