h1.bluebold About Us
#content-container2
  .content-col1thin
    #aboutlist 
      ul.aboutlist
        li
          a(href="#whatisourvoyce")What is ourvoYce
        li
          a(href="#whyparticipate")Why Participate?
        li
          a(href="#howitworks")How it Works
        li
          a(href="#ouropinions")Our Opinions Connect Us
          ul
            li
              a(href="#howscore")How Topics are Scored
            li
              a(href="#score")Score
            li
              a(href="#participation")Participation
            li
              a(href="#map")Map
            li
              a(href="#numberofusers") = "Number of Users/Age of Users"

  .content-col2wider 
    .redlinebottom.first 
      h2.thin.red
        a#whatisourvoyce 
        | What is ourvoYce?

      p
        |
          ourvoYce is a social tool designed to gather people's opinions.  Your
          opinion is collected as a "thumbs up, thumbs down&quot; vote.  This
          opinion data is shown as numbers as well as on maps and bar charts to
          add meaning to our collective opinions. 

      p
        | 
          ourvoYce was created to give everyone an easy and simple way to be 
          heard, and to share that information just as simply. In turn, we 
          learn more about who we are, what we want and gain a better understanding 
          of all the things that we think and talk about. 

      p
        |
          ourvoYce gives your voice…a voice. Make your voice heard. Be counted. 

    .redlinebottom 
      h2.thin.red
        a#whyparticipate 
        | Why Participate? 

      P
        |
          We often find ourselves saying, "what difference does it make?" or "is
          anyone listening?" when it comes to everything going on today.
          ourvoYce concentrates everyone's opinion into one simple statistical
          piece of information and anyone looking at the results can instantly
          see a trend. 

      P
        |
          Do you take surveys? Ever shop at Best Buy? or Target? How often are
          you asked to "voice your opinion?" Businesses want to understand what
          consumers want. Politicians need to know how we feel. They regularly
          use opinion polls, as tools to better understand how the voters want
          them to govern.

      P
        |
          If you have ever signed a petition, written a representative or
          joined in a boycott or protest you understand that getting large
          numbers of people to participate can sometimes make real change.

      P
        |
          Our opinions truly are a renewable resource and ourvoYce effectively
          collects that information and presents it in a way easily understood:
          through numbers, charts and maps. In turn, we can then motivate
          businesses, corporations, politicians because they can now see – in
          one place – how we are collectively feel. This is accountability by
          the people. 

      p
        = link_to sign_up_path, class: 'imagelink' do 
          = image_tag "site/btnsignup.gif",  width: "116", height: "41", alt: "Sign Up"

        = link_to hot_topics_path, class: 'imagelink' do
          = image_tag "site/btnvote.gif", width: "88", height: "41", alt: "Vote"

    .redlinebottom

      h2.thin.red
        a#howitworks
        | How it Works.


      P
        |
          We, the people, should vote on everything and we should vote often.

      P
        |
          The more people who vote, the better the data is. It's your chance to
          tell us how you feel about your country, corporations, the media,
          politics and pop culture. From who makes the best French fries to
          what you think of Fox news. From your senator to
          &quot;Survivor.&quot; 

      P
        |
          The more people who participate, the more the data becomes relevant.
          Simply tallying and collecting your  &quot;thumbs up/thumbs
          down&quot; opinion can be extremely powerful. 

      P
        |
          Also, just as important is your ability to maintain your privacy.
          ourvoYce has a very simple, safe and quick registration process. We
          are not sharing your identity. Vote on as many topics as you want. As
          fast as you want. There is no discussion. No analysis. Just you and
          your mouse. 

      p
        strong And, if your opinion changes, you can change your vote as often as you like. 

      h3.gray Have some fun, too.

      P
        |
          Though this is a very sophisticated, yet simple tool to collect a lot
          of data on how people are thinking and feeling – in our community and
          in our country – we've made tried to make it whole lot of fun, too. 

      P
        |
          If you want, you can share your votes on Facebook or Twitter. That's
          up to you. And, we'll have some &quot;hot topics&quot; featured you
          can vote on and share with friends, too. Plus, you'll have the
          opportunity to suggest topics for everyone to vote on. 

      P
        |
          Most of all, it's your chance to make your vote heard.

      p
        = link_to sign_up_path, class: 'imagelink' do
          = image_tag "site/btnsignup.gif", width: '116', height: '41', alt: 'Sign Up'
        = link_to hot_topics_path, class: 'imagelink' do
          = image_tag 'site/btnvote.gif', width: "88", height: "41", alt: "Vote"

    .redlinebottom
      h2.thin.red
        a#ouropinions
        | Our Opinions Connect Us. 

      P
        |
          In order to see if there are any trends in the votes, we take the
          anonymous, statistical raw data and we put in on a map. We can now
          see how many people feel about a given topic –  and there are
          hundreds of topics – based on age and where they live. The more
          people who participate, the more relevant the data is. It's that
          simple. 

      P
        |
          The idea behind ourvoYce is to allow you to express your opinion,
          change it as you feel fit, and not worry about it. Our apologies, but
          we aren't interested in the argument. There are lots of blogs for
          that. We aren't collecting your personal information to sell to
          direct marketers, either..  There are tons of sites that do that.
          What ourvoYce does is let you voice an opinion on Fortune 500
          Corporations, government officials, media sources, television shows,
          celebrities, consumer products lifestyle concepts and issues that
          impact our daily lives.

      h3.red
        a#howscore
        | How Topics are Scored

      P
        |
          ourvoYce uses your votes to calculate two simple scores that we can
          use to determine how we feel about these important parts of our
          society. 

      h3.red
        a#score
        | Score

      P
        |
          The score on the voting page, is the number of ourvoYce voters who
          give a particular topic or issue a &quot;thumbs up&quot; vote.


      h3.red
        a#participation
        | Participation

      P
        |
          The participation, seen on the voting page on the bar graph, shows
          the number of registered voters  participating in that topic. 

      h3.red
        a#map
        | Map 

      P
        |
          The Map shows where the voters live on any particular topic.


      h3.red
        a#numberofusers
        | Number of Users/Age of Users

      P
        |
          This chart shows how the total number of ourvoYce voters break out by
          age group. 

      p
        = link_to '#top', class: 'imagelink' do
          = image_tag "site/btnbacktothetop.gif", width: "93", height: "22", alt: "Back to the Top"

  .clear

